<div class="h-full flex flex-col">
  <div class="grid grid-cols-3 place-items-center py-2 bg-gray-100 px-4 h-14">
    <h2 class="font-semibold w-full text-center text-blue-700">
      Ticket no.
    </h2>
    <h2 class="font-semibold w-full text-center text-blue-700">
      Created At
    </h2>
    <h2 class="font-semibold w-full text-center text-blue-700">Status</h2>
  </div>
  
  <div class="w-full h-full overflow-y-auto py-3">
    <ng-container *ngIf="grievanceData.length > 0; else noData">
      <div *ngFor="let grievance of grievanceData" class="flex flex-col gap-3">
        <div class="grid grid-cols-3 place-items-center bg-white hover:bg-blue-50 my-1 py-3 border rounded-xl mx-4 cursor-pointer" [routerLink]="['/complaint', grievance?.grievance_id]">
          <p class="w-full text-wrap text-center">
            {{ grievance?.grievance_id }}
          </p>
          <p class="w-full text-wrap text-center">
            {{ grievance?.created_at?.slice(0, 10) }}
            {{ grievance?.created_at?.slice(11, 16) }}
          </p>
          <p
            class="text-center font-bold"
            [ngClass]="{
              'text-yellow-500': grievance?.status === 'Pending',
              'text-green-500': grievance?.status === 'Resolved',
              'text-red-500': grievance?.status === 'Rejected'
            }"
          >
            {{ grievance?.status }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="text-center py-4 text-gray-600">Nothing here</div>
    </ng-template>
  </div>
  
</div>