<div class="h-full w-full flex flex-col gap-5 justify-center items-center" *ngIf="loading">
  <img src={{images.loading}} alt="" width="100" class="animate-spin">
  <p class="text-white text-xl font-semibold">Loading resources...</p>
</div>
<div class="h-full w-full flex justify-center items-center" *ngIf="!authenticated">
  <p class="text-white text-3xl">
    Click here to <a [routerLink]="['/login']" class="hover:underline">Login</a>
  </p>
</div>
<div *ngIf="!loading" class="flex flex-col h-full">
  <div class="h-[280px] xl:h-[200px] flex flex-col gap-2 pt-5 md:pt-10 relative">
    <div class="flex flex-col justify-center items-center">
      <h1 class="text-white text-2xl lg:text-3xl font-semibold">
        Welcome {{ userData?.name }}
      </h1>
    </div>
    <div class="flex gap-0 justify-center items-center pt-2">
      <input (input)="onInputChange($event)" formControlName="search" type="text" id="search" name="search" class="h-7 lg:h-10 px-2 py-1 rounded-l-lg border" placeholder="Search">
      <button (click)="onSearch()" [disabled]="button_loading" class="h-7 lg:h-10 bg-transparent border-l-0 border-2 hover:bg-[rgba(0,0,0,0.2)] w-10 flex items-center justify-center rounded-r-lg ">
        <img src={{images.search}} class="w-[20px] xl:w-30" alt="" *ngIf="!button_loading">
        <img src={{images.loading}} class="w-[20px] xl:w-30 animate-spin" alt="" *ngIf="button_loading">
      </button>
    </div>
    <div class="lg:absolute lg:pt-2 lg:right-10 flex gap-4 justify-center items-center">
        <button
          class="cursor-pointer opacity-80 hover:opacity-100 relative"
          *ngIf="authenticated"
          routerLink="/notifications"
        >
          <img src="{{ images.notification }}" alt="" [ngClass]="notificationData.length>0 ? 'custom-animation': ''" class="w-8 md:w-10" />
          <div *ngIf="notificationData.length > 0" class="absolute top-0 right-0">
            <div class="h-[9px] w-[9px] rounded-full bg-red-500 animate-pulse opacity-100"></div>
          </div>
        </button>
        <button
          class="cursor-pointer opacity-80 hover:opacity-100"
          *ngIf="authenticated"
          routerLink="/new_ticket"
        >
          <img src="{{ images.add }}" alt="" class="w-8 md:w-10" />
        </button>
        <button
          class="cursor-pointer opacity-80 hover:opacity-100"
          *ngIf="authenticated"
        >
          <img
            src="{{ images.logout }}"
            alt=""
            class="rotate-180 w-8 md:w-10"
            (click)="logout()"
          />
      </button>
    </div>
    <div
      class="flex justify-center items-center gap-5 py-2 text-[11px] md:text-[12px] text-base"
    >
      <button
        routerLink=""
        routerLinkActive="home-active"
        class="cursor-pointer custom-transition text-black bg-blue-50 rounded-full md:rounded-xl hover:bg-blue-100 h-full text-wrap text-[12px] md:text-base px-3 md:px-4 py-0 md:py-2"
      >
        All
      </button>
      <button
        routerLink="/pending"
        routerLinkActive="home-active"
        class="cursor-pointer custom-transition text-black bg-blue-50 rounded-full md:rounded-xl hover:bg-blue-100 h-full text-[12px] md:text-base text-wrap px-2 md:px-4 py-0 md:py-2"
      >
        Pending
      </button>
      <button
        routerLink="/resolved"
        routerLinkActive="home-active"
        class="cursor-pointer custom-transition text-black bg-blue-50 rounded-full md:rounded-xl hover:bg-blue-100 h-full text-[12px] md:text-base text-wrap px-2 md:px-4 py-0 md:py-2"
      >
        Resolved
      </button>
      <button
        routerLink="/rejected"
        routerLinkActive="home-active"
        class="cursor-pointer custom-transition text-black bg-blue-50 rounded-full md:rounded-xl hover:bg-blue-100 h-full text-[12px] md:text-base text-wrap px-2 md:px-4 py-0 md:py-2"
      >
        Rejected
      </button>
    </div>
  </div>
  <div class="h-full overflow-hidden bg-white">
    <router-outlet></router-outlet>
  </div>
</div>
