<div class="h-full flex flex-col w-full">
  <div class="grid grid-cols-2 place-items-center py-2 bg-green-100 px-4 h-14">
    <h2 class="font-semibold w-full text-center">
      Ticket no.
    </h2>
    <h2 class="font-semibold w-full text-center">
      Updated At
    </h2>
  </div>
  
  <div class="w-full h-full overflow-y-auto py-3">
    <ng-container *ngIf="grievanceData.length > 0; else noData">
      <div *ngFor="let grievance of grievanceData" class="flex flex-col gap-3 bg-white">
        <div
          [routerLink]="['/complaint', grievance?.grievance_id]"
          class="grid grid-cols-2 place-items-center hover:bg-blue-50 my-1 py-3 border rounded-xl mx-4 cursor-pointer"
        >
          <p class="w-full text-wrap text-center">
            {{ grievance?.grievance_id }}
          </p>
          <p class="w-full text-wrap text-center">
            {{ grievance?.updated_at?.slice(0, 10) }}
            {{ grievance?.updated_at?.slice(11, 16) }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #noData>
      <div class="text-center py-4 text-gray-600">
        Nothing here
      </div>
    </ng-template>
  </div>
  
</div>